[Unit]
Description=Amaranta Candles UI Container
After=network.target

[Service]
Type=simple
TimeoutStartSec=10s
ExecStartPre=-/usr/bin/docker rm "amaranta_candles_ui"
User=daniel

ExecStart=/usr/bin/docker run -t -a stdout -a stderr \
{%- for k,v in secrets.items() %}
  -e {{k}}={{v}} \
{%- endfor %}
  --network host \
  --publish 127.0.0.1:9999:8888 \
  --name amaranta_candles_ui quay.io/banool/amaranta_candles_ui:latest


ExecReload=-/usr/bin/docker stop "amaranta_candles_ui"
ExecReload=-/usr/bin/docker rm "amaranta_candles_ui"
ExecStop=-/usr/bin/docker stop "amaranta_candles_ui"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
