[Unit]
Description=Amaranta Candles Container
After=network.target

[Service]
Type=simple
TimeoutStartSec=10s
ExecStartPre=-/usr/bin/docker rm "amaranta_candles"
User=daniel

ExecStart=/usr/bin/docker run -t -a stdout -a stderr \
{%- for k,v in secrets.items() %}
  -e {{k}}={{v}} \
{%- endfor %}
  --network host \
  --publish 127.0.0.1:42069:6969 \
  --name amaranta_candles quay.io/banool/amaranta_candles:latest


ExecReload=-/usr/bin/docker stop "amaranta_candles"
ExecReload=-/usr/bin/docker rm "amaranta_candles"
ExecStop=-/usr/bin/docker stop "amaranta_candles"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
